.AddFriend {
	margin: 1rem;
	padding: 1rem;
	height: 40rem;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.AddFriend label,
.AddFriend input {
	font: 1.5rem Courier;
	padding: 1rem;
	margin: 1rem;
	background: transparent;
}

.AddFriend label {
	color: white;
}
.AddFriend input {
	color: lightgreen;
}

.AddFriend button {
	padding: 0.5rem;
	margin: 1rem;
	background: transparent;
	border: 0.1rem solid lightgreen;
	color: lightgreen;
}
.AddFriend button:hover {
	padding: 0.6rem;
	background: lightgreen;
	color: #282c34;
	border: none;
}
